<h2 mat-dialog-title>Editar Centro de Gestión</h2>

<mat-dialog-content>
    <form (ngSubmit)="actualizarCentroGestion()" #forma="ngForm">
        <div>
            <mat-form-field>
                <input matInput [(ngModel)]="data.data.idCentroGestion" name="idCentroGestion" type="text" placeholder="Id Centro Gestión" required>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput [(ngModel)]="data.data.descripcion" name="descripcion" type="text" placeholder="Descripción Centro Gestión" required>
            </mat-form-field>

            <mat-form-field>
                <input matInput [(ngModel)]="data.data.duenoObra" name="duenoObra" type="text" placeholder="Dueño de Obra" required>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput [(ngModel)]="data.data.rutEjecucion" name="rutEjecucion" type="text" placeholder="Rut Ejecución" required>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button (click)="cerrarModal()">Cancelar</button>
    <button mat-raised-button mat-primary (click)="actualizarCentroGestion()">Actualizar</button>
</mat-dialog-actions>